*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    background: #292828;
    overflow: hidden;
}

form input{
    width: 100%;
    height: 115px;
    border: none;
    border-radius: 2px;
    background: #000000;;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    text-align: right;
    pointer-events: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 44px 25px;
}

button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: solid 1px #292828;
    width: 60px;
    height: 52px;
    border-radius: 5px;
    background: #ffff;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    cursor: pointer;
}

.btn-yellow{
    background: rgb(245, 146, 62);
    color: rgb(0, 0, 0);
}

.btn-equal{
    background: rgb(10, 236, 93);
}

.btn-clear{
    background: rgb(236, 10, 10);
}

